# Custom
res/priceCache.json
res/supported_tickers.csv
res/metadata.json
logs/

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz
.env

# Coveralls
coverage

# Benchmarking
benchmarks/graphs