* {
    box-sizing: border-box;
}

.divider {
    width: 100%;
    opacity: .2;
}

.review-page {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.review-page-backtest-results {
    flex: 2;
}

/* Left side of page */

.review-page-data {
    flex: 8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.review-page-chart {
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Right side of page */

.review-page-query {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.review-page-result, .review-page-indicators {
    flex: 1;
}

@media only screen and (max-width: 600px) {
    .review-page {
        flex-direction: column;
        overflow: auto;
    }
    .review-page-backtest-results {
        z-index: 1000;
        position: relative;
        flex: 0;
    }
}