.hit-slot {
    list-style-type: none;
    padding: 2vh;
    margin: 3vh;
    width: 20vw;
    height: 8vh;
    border-radius: 10px;
    transition: all linear 200ms
}

.hit-slot:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.hit-item {
    color: darkturquoise;
}

@media screen and (max-width: 480px) {
    .hit-slot {
        width: 50vw;
        font-size: 20px;
        margin: 1vh;
    }
}