.results {
    position: relative;
    background-color: #E0E5EC;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    max-height: 100vh;
}

.results-title {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.results-search {
    display: inline-block;
    margin: auto;
    width: 20%;
}

.results-list {
    position: relative;
    text-align: left;
    flex: 5;
    overflow: auto;
    overflow-x: hidden;
    max-height: 80vh;
}

.results-indicators {
    font-size: 1em;
}

.results-dayfilter {
    margin-top: 1vh;
    text-align: center;
    font-size: .9em;
}

.result {
    cursor: pointer;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result-icon {
    margin-left: 1vw;
    margin-right: 1vw;
    visibility: hidden;
}

.result-icon.result-hover {
    visibility: visible;
}

.result-text {
    flex-grow: 1;
    text-align: start;
    font-size: 1em;
}

.result-edit {
    height: 100%;
    font-size: 1em;
}

.result-trailer {
    margin-right: 1vw;
    visibility: hidden;
}

.result-trailer.result-hover {
    visibility: visible;
}