.simulate {
    width: 100%;
    height: 100%;
    background-color: #dee4ec;
    padding-top: 7vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.simulate-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.simulate-title {
    font-weight: bold;
    font-size: 2em;
}

.simulate-settings {
    display: flex;
    flex-direction: row;
}

.simulate-equity {
    width: 100%;
    height: 90%;
}