.symbol-results {
    background-color: #E0E5EC;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    max-height: 50vh;
}

.symbol-results-title {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.symbol-results-body {
    text-align: left;
}

.symbol-results-events {
    max-height: 28vh;
    overflow: auto;
    overflow-x: hidden;
}

.symbol-results-event {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}