.symbol-results {
    background-color: #E0E5EC;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    max-height: 50vh;
}

.symbol-results-title {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.5em;
}