.symbol-results {
    background-color: #E0E5EC;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    max-height: 50vh;
    position: relative;
}

.symbol-results-random {
    top: 0;
    right: 0;
}

.symbol-results-title, .symbol-results-subtitle {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.symbol-results-body {
    text-align: left;
}

.symbol-results-subtitle{
    text-align: left;
}

.symbol-results-events {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}

.symbol-results-event {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}